* {
  margin: 0;
  padding: 0;
}

/* img {
  width: 40rem;
} */

.card {
  display: flex;
  justify-content: center;
}

.slider {
  display: block;
  height: auto;
  width: 60%;
  /* margin: auto; */
  margin-top: 20px;

  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;

  /* width: 400px; */
  max-height: 25rem;
  /* max-width: calc(100vh - 200px); */
  width: auto;
  height: auto;
  /* width: 30rem; */

  vertical-align: top;

  background-size: cover;
  transform-origin: right;
  transition: 0.6s;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.slider li input:checked ~ label {
  background-color: #ccc;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}
.slider li:nth-child(2) label {
  left: 40px;
}
.slider li:nth-child(3) label {
  left: 70px;
}
